<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriel Code</title>
  <!--  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"type="text/css">
--!-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/asset-15.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/imgs/ra.jpg" alt="Foto do Biel">
      <h1>Gabriel Augusto</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/gabriel-augusto-86aa031b2/">
          <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://github.com/brolly26">
          <i class="bi bi-github"></i>
        </a>

      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"
              aria-hidden="true"></i>Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"> <i class="bi bi-person-circle" aria-hidden="true"></i> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"> <i class="bi bi-clipboard-data"></i> Skills </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark-code-fill"></i> Curriculo </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"> <i class="bi bi-book-fill"></i> Portfolio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"> <i class="bi bi-person-lines-fill"></i> Contacts </a>
        </li>

      </ul>

    </nav>



  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">

      <div class="col-md-5 d-flex justify-content-center
   align-items-center flex-column">
        <h2 class="text-white text-shadow"> Gabriel Augusto </h2>
        <span id="subtitle" class="text-white"> Desenvolvedor Full Stack </span>

      </div>

      <div class="col-md-7 d-flex  justify-content-end
  align-items-end ">

        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2 " aria-hidden></i>
          <a href="#sobre">Drag for more</a>
        </div>

      </div>

    </section>

    <ul class="nav nav-pills mb-2 mt-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">English-EN</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="true">Português-BR</button>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <section class="container mt-5" id="sobre">
          <div class="row w-100">
            <div class="col-md-12">
              <h2 class="pt-3">About</h2>
              <p>
                Hello! My name is Gabriel. At 22 years old, I am a standout Full Stack developer, recognized for my
                skills
                and dedication. I am always seeking opportunities to grow and enhance my abilities. With an innovative
                outlook, I am constantly striving to overcome challenges and positively contribute to creative projects.

              </p>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-4">
              <img class="img-fluid shadow" src="../static/imgs/WhatsApp Image 2022-08-31 at 20.36.49.jpeg"
                alt="Foto do Biel">

            </div>
            <div class="col-md-6">
              <h3> Full Stack Developer </h3>
              <p> I have experience in creating robust and scalable web applications.
                Expertise in Next.js, React.js, Vue.js, Node.js, Angular and TypeScript, working on both front-end and back-end.
                I use Tailwind CSS and Bootstrap 5 to build modern and responsive interfaces, with focus on REST API integration,
                performance optimization and excellent user experience.
              </p>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group list-group fs-5">

                    <li class="list-group-item">
                      Birthday: <span class="fw-lighter">November 8, 2002 </span>
                    </li>

                    <li class="list-group-item">
                      Age: <span class="fw-lighter"> 22 years old </span>
                    </li>

                    <li class="list-group-item">
                      City: <span class="fw-lighter"> Contagem </span>

                    </li>

                    <li class="list-group-item">
                      State: <span class="fw-lighter"> Minas-Gerais </span>

                    </li>



                  </ul>
                </div>

                <div class="col-md-6">
                  <ul class="list-group list-group fs-5">
                    <li class="list-group-item">
                      Hobby: <span class="fw-lighter"> Study </span>

                    </li>

                    <li class="list-group-item">
                      GitHub: <span class="fw-lighter">github.com/brolly26</span>

                    </li>



                  </ul>
                </div>

              </div>


            </div>



          </div>






        </section>

        <section id="habilidades" class="mt-5 section-bg">

          <div class="container pb-5">

            <h2 class="pt-5">Skills </h2>
            <p> Throughout my time as a programming student I acquired several technical and non-technical skills, most
              of
              them are here, according to the percentage of knowledge I believe I have in each one of them.
            </p>

            <div class="row">

              <div class="col-md-6">
                <p class="mt-3 mb-0">HTML5</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">100%</div>

                </div>
                <p class="mt-3 mb-0">CSS3</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">100%</div>

                </div>

                <p class="mt-3 mb-0">JavaScript</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">100%</div>

                </div>

                <p class="mt-3 mb-0">GIT</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;"
                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">100%</div>

                </div>


              </div>




              <div class="col-md-6">
                <p class="mt-3 mb-0">React.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;"
                    aria-valuenow="95" data-anime="left" aria-valuemin="0" aria-valuemax="100">95%</div>


                </div>

                <p class="mt-3 mb-0">Next.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;"
                    aria-valuenow="90" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>


                </div>

                <p class="mt-3 mb-0">Vue.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;"
                    aria-valuenow="90" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>


                </div>

                <p class="mt-3 mb-0">Angular</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;"
                    aria-valuenow="85" data-anime="left" aria-valuemin="0" aria-valuemax="100">85%</div>


                </div>


              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <p class="mt-3 mb-0">Node.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <p class="mt-3 mb-0">TypeScript</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;"
                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0">Tailwind CSS</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;"
                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
                <p class="mt-3 mb-0">Bootstrap</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;"
                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mt-3 mb-0">MySQL</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                <p class="mt-3 mb-0">Sequelize</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                <p class="mt-3 mb-0">AWS</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;"
                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                <p class="mt-3 mb-0">Git/GitHub/GitLab</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;"
                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
            </div>
            <hr class="w-50 me-auto ms-auto">

            <div class="row">

              <div class="col-md-6">

                <p class="mt-3 mb-0"> Commitment</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 98%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">98%</div>
                </div>

                <p class="mt-3 mb-0">Team work </p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 97%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">97%</div>
                </div>
                <p class="mt-3 mb-0"> empathy</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 98%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">98%</div>
                </div>


              </div>

              <div class="col-md-6">

                <p class="mt-3 mb-0"> Proactivity</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <p class="mt-3 mb-0"> Communication</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0"> Ideas</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 97%;"
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">97%</div>
                </div>



              </div>


            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">
          <div class="container pb-5">
            <h2 class="pt-3 pb-4">Curriculum</h2>
            <div class="row">
              <div class="col-md-6">

                <h3>Education</h3>


                <div class="cv-item">
                  <h4> System Analysis and Development </h4>
                  <h5> October 2022 - June 2025 </h5>
                  <p><em> University Estácio de Sá </em></p>
                  <p> Technology degree - Higher education with a focus on information technology </p>
                </div>

                <div class="cv-item">
                  <h4>System Analysis and Development</h4>
                  <h5> February 2021 - August 2022 </h5>
                  <p><em> SENAI - National Industrial Apprenticeship Service </em></p>
                  <p>Technical course focused on information technology.</p>
                </div>

                <div class="cv-item">
                  <h4>Exchange to Halifax / Nova Scotia</h4>
                  <h5> 2022-2022 </h5>
                  <p><em> ECLC - East Coast Language College </em></p>

                  <p>Level A2-B1</p>
                  <p> Course focused on improving learning in English </p>
                </div>
                <div class="cv-item">
                  <h4>BOOTCAMP IGTI FRONT-END</h4>
                  <h5>2021-2021</h5>
                  <p><em>Currently they have changed the name of the company to: XP Educação </em></p>
                  <p> BOOTCAMP focused on information technology </p>
                </div>


              </div>


              <div class="col-md-6">

                <h3>Experience</h3>

                <div class="cv-item">
                  <h4>Full Stack Developer</h4>
                  <h5>March 2025 - Present</h5>
                  <p><em>Working as a Full Stack developer with Next.js, Vue.js, Node.js, Sequelize, MySQL, DBeaver, FTP, and AWS in the development and maintenance of web applications.</em></p>
                  <p>Clube Certo</p>
                </div>

                <div class="cv-item">
                  <h4>Front-end Developer</h4>
                  <h5>February 2023 - February 2025</h5>
                  <p><em>Worked as a front-end developer creating web systems and responsive, accessible interfaces, including the IPSEMG website, one of the main public hospitals in Minas Gerais.</em></p>
                  <p>PRODEMGE - Information Technology Company of the State of Minas Gerais</p>
                </div>


              </div>

            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
          <div class="container pb-5 pt-5" data-anime="left">

            <h2 class="pb-4">Portfolio</h2>

            <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100 card-login">
                        <img src="../static/imgs/Fotos dos Projetos/Leagueof.png" target='_blank'
                          class="card-img-top img-fluid w-100" alt="Plataforma educacional">
                        <div class="card-body">
                          <h5 class="card-title">Tela Login</h5>
                          <p class="card-text">Projeto criado com <span class="badge bg-primary">HTML5</span>, <span
                              class="badge bg-info">CSS3</span> e <span class="badge bg-warning">JavaScript</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/RiotTela" target='_blank'
                              class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100 card-mundoroxo" id="empat">
                        <img src="../static/imgs/Fotos dos Projetos/MundoRoxo.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Mundo Roxo</h5>
                          <p class="card-text">Projeto em Desenvolvimento</p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/WorldX" target='_blank'
                              class="btn btn-outline-dark me-3 magic-link"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/pokedex.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Pokedéx</h5>
                          <p class="card-text">In Progress</p>
                          <div class="d-flex justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item" data-bs-interval="200000">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Clima1.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Explore Weather Conditions Worldwide</h5>
                          <p class="card-text">This project allows you to view the weather elements of a neighborhood,
                            city,
                            or state from any country.
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Clima" target='_blank'
                              class="btn btn-outline-dark me-3 mt-1"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/pedido1.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Proposal Pursuit: The Runaway Button</h5>
                          <p class="card-text">This JavaScript project features a "no" button that runs away when
                            clicked,
                            adding a playful and interactive element to the user interaction.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/PedidoDeNamoro" target='_blank'
                              class="btn btn-outline-dark me-3 mt-1"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/WizardIcon.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body ">
                          <h5 class="card-title">Easily Locate Electric Vehicle Charging Stations</h5>
                          <p class="card-text">An upcoming <span class="badge bg-primary">React Native </span> app for
                            locating electric vehicle charging stations. Soon, making your life easier and contributing
                            to a
                            more sustainable future!</p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Wizard-Station" target='_blank'
                              class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Escolar.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Academic System</h5>
                          <p class="card-text">Project aimed at creating a school management system. Technologies used:
                            <span class="badge bg-dark">C#</span> and <span class="badge bg-success">MySQL</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/SistemaAcademico" target='_blank'
                              class="btn btn-outline-dark me-3 mt-1"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Screenshot_1.png"
                          class="card-img-top img-fluid w-100" alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Calculadora de IMC</h5>
                          <p class="card-text">Este projeto permite você avaliar o grau de sobrepeso e obesidade.
                            Tecnologias utilizadas: <span class="badge bg-warning">JavaScript</span>, <span
                              class="badge bg-primary">HTML5</span>, <span class="badge bg-info">CSS3</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Projeto-Calculadora-IMC" target='_blank'
                              class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/spotify.blog_.jpg"
                          class="card-img-top img-fluid w-100" alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Spotify Clone</h5>
                          <p class="card-text">I'm developing a Spotify clone using the <span
                              class="badge bg-danger">Angular</span> framework and <span
                              class="badge bg-secondary">SCSS</span> for web development.
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Spotify" target='_blank'
                              class="btn btn-outline-dark me-3 mt-1"><i class="bi bi-github"></i></a>
                          </div>
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </section>

        <!-- Bootstrap JS and Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>


        <section class="pt-5 pb-5" id="contato">

          <div class="container mb-5">
            <h2 class="pt-3 pb-3">Contact</h2>
            <div class="row">


              <div class="col-md-5">
                <div class="card p-5 shadow border-0">
                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Location </h4>
                    <p>Contagem, MG</p>

                  </div>

                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email</h4>
                    <p>bielaugusto8@hotmail.com</p>
                  </div>

                  <div class="telefone">
                    <h4><i class="bi bi-phone-vibrate"></i> Telephone</h4>
                    <p>+55(31)9 9423-2364</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30021.48699896956!2d-44.04596636515233!3d-19.853239981529615!2m3!
  1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
  1s0xa693d067914e35%3A0xfb4cd13cf3ab1e07!2sPedra%20Azul%2C%
  20Contagem%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1665092579982!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="w-100"></iframe>

                </div>
              </div>


              <div class="col-md-7">
                <div class="card p-5 h-100 shadow border-0">
                  <form class="row g-3">
                    <div class="col-md-6">
                      <label for="nome" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputEmail4" name="nome"
                        placeholder="Digite seu Nome">
                    </div>


                    <div class="col-md-6">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Digite seu E-mail">
                    </div>


                    <div class="col-12">
                      <label for="mensagem" class="form-label">Message: </label>
                      <textarea type="text" class="form-control" rows="16" id="mensagem" name="mensagem"
                        placeholder="Digite sua mensagem">
        </textarea>


                    </div>








                    <div class="col-12 d-flex justify-content-center mt-5">
                      <button type="submit" class="btn btn-primary">Submit Menssage</button>
                    </div>
                  </form>


                </div>

              </div>

            </div>
          </div>

        </section>
      </div>

      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        <section class="container mt-5" id="sobre">
          <div class="row w-100">
            <div class="col-md-12">
              <h2 class="pt-3">Sobre</h2>
              <p>
                Olá! Meu nome é Gabriel. Com 22 anos, sou um destaque como desenvolvedor Full Stack, reconhecido por minhas habilidades e dedicação. Estou sempre em busca de oportunidades para crescer e aprimorar minhas habilidades. Com uma perspectiva inovadora, estou constantemente buscando superar desafios e contribuir de forma positiva para projetos criativos.
              </p>
            </div>
          </div>
        
          <div class="row mt-4">
            <div class="col-md-4">
              <img class="img-fluid shadow" src="../static/imgs/WhatsApp Image 2022-08-31 at 20.36.49.jpeg"
                alt="Foto do Biel">
            </div>
            <div class="col-md-6">
              <h3> Desenvolvedor Full Stack </h3>
              <p> Tenho experiência na criação de aplicações web robustas e escaláveis.
                Domínio em Next.js, React.js, Vue.js, Node.js, Angular e TypeScript, atuando no front-end e back-end.
                Utilizo Tailwind CSS e Bootstrap 5 para construir interfaces modernas e responsivas, com foco em integração de APIs REST,
                otimização de performance e excelente experiência do usuário.
              </p>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group list-group fs-5">
                    <li class="list-group-item">
                      Aniversário: <span class="fw-lighter">8 de Novembro de 2002 </span>
                    </li>
                    <li class="list-group-item">
                      Idade: <span class="fw-lighter"> 22 anos </span>
                    </li>
                    <li class="list-group-item">
                      Cidade: <span class="fw-lighter"> Contagem </span>
                    </li>
                    <li class="list-group-item">
                      Estado: <span class="fw-lighter"> Minas Gerais </span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group fs-5">
                    <li class="list-group-item">
                      Hobby: <span class="fw-lighter"> Estudar </span>
                    </li>
                    <li class="list-group-item">
                      GitHub: <span class="fw-lighter">github.com/brolly26</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
          <div class="container pb-5">
            <h2 class="pt-5">Habilidades </h2>
            <p> Ao longo do meu tempo como estudante de programação, adquiri várias habilidades técnicas e não técnicas, a maioria delas está aqui, de acordo com a porcentagem de conhecimento que acredito ter em cada uma delas. </p>
            <div class="row">
              <div class="col-md-6">
                <p class="mt-3 mb-0">HTML5</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
                <p class="mt-3 mb-0">CSS3</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
                <p class="mt-3 mb-0">JavaScript</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
                <p class="mt-3 mb-0">GIT</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mt-3 mb-0">React.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" data-anime="left" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
                <p class="mt-3 mb-0">Next.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0">Vue.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0">Angular</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" data-anime="left" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mt-3 mb-0">Node.js</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <p class="mt-3 mb-0">TypeScript</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0">Tailwind CSS</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
                <p class="mt-3 mb-0">Bootstrap</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mt-3 mb-0">MySQL</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                <p class="mt-3 mb-0">Sequelize</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                <p class="mt-3 mb-0">AWS</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                <p class="mt-3 mb-0">Git/GitHub/GitLab</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
            </div>
            <hr class="w-50 me-auto ms-auto">
            <div class="row">
              <div class="col-md-6">
                <p class="mt-3 mb-0"> Comprometimento</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 98%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">98%</div>
                </div>
                <p class="mt-3 mb-0">Trabalho em equipe </p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 97%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">97%</div>
                </div>
                <p class="mt-3 mb-0"> Empatia</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 98%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">98%</div>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mt-3 mb-0"> Proatividade</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <p class="mt-3 mb-0"> Comunicação</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <p class="mt-3 mb-0"> Ideias</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 97%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">97%</div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
          <div class="container pb-5">
            <h2 class="pt-3 pb-4">Currículo</h2>
            <div class="row">
              <div class="col-md-6">
                <h3>Educação</h3>
                <div class="cv-item">
                  <h4>Análise e Desenvolvimento de Sistemas</h4>
                  <h5>Outubro 2022 - Junho 2025</h5>
                  <p><em>Universidade Estácio de Sá</em></p>
                  <p>Curso Tecnólogo - Ensino superior com foco em tecnologia da informação</p>
                </div>
                <div class="cv-item">
                  <h4>Análise e Desenvolvimento de Sistemas</h4>
                  <h5>Fevereiro 2021 - Agosto 2022</h5>
                  <p><em>SENAI - Serviço Nacional de Aprendizagem Industrial</em></p>
                  <p>Curso técnico com foco em tecnologia da informação</p>
                </div>
                <div class="cv-item">
                  <h4>Intercâmbio para Halifax / Nova Escócia</h4>
                  <h5>2022-2022</h5>
                  <p><em>ECLC - East Coast Language College</em></p>
                  <p>Nível A2-B1</p>
                  <p>Curso focado em aprimorar o aprendizado em inglês</p>
                </div>
                <div class="cv-item">
                  <h4>BOOTCAMP IGTI FRONT-END</h4>
                  <h5>2021-2021</h5>
                  <p><em>Atualmente mudaram o nome da empresa para: XP Educação</em></p>
                  <p>BOOTCAMP focado em tecnologia da informação</p>
                </div>
              </div>
              <div class="col-md-6">
                <h3>Experiência</h3>
                <div class="cv-item">
                  <h4>Desenvolvedor Full Stack</h4>
                  <h5>Março 2025 - Atualmente</h5>
                  <p><em>Atuo como desenvolvedor Full Stack com Next.js, Vue.js, Node.js, Sequelize, MySQL, DBeaver, FTP e AWS no desenvolvimento e manutenção de aplicações web.</em></p>
                  <p>Clube Certo</p>
                </div>
                <div class="cv-item">
                  <h4>Desenvolvedor Front-end</h4>
                  <h5>Fevereiro 2023 - Fevereiro 2025</h5>
                  <p><em>Atuei como desenvolvedor front-end criando sistemas web e interfaces responsivas e acessíveis, incluindo o site do IPSEMG, um dos principais hospitais públicos de Minas Gerais.</em></p>
                  <p>PRODEMGE - Empresa de Tecnologia da Informação do Estado de Minas Gerais</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="portfolio" class="section-bg mt-5">
          <div class="container pb-5 pt-5" data-anime="left">

            <h2 class="pb-4">Portfolio</h2>

            <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100 card-login">
                        <img src="../static/imgs/Fotos dos Projetos/Leagueof.png" target='_blank'
                          class="card-img-top img-fluid w-100" alt="Plataforma educacional">
                        <div class="card-body">
                          <h5 class="card-title">Tela Login</h5>
                          <p class="card-text">Projeto criado com <span class="badge bg-primary">HTML5</span>, <span
                              class="badge bg-info">CSS3</span> e <span class="badge bg-warning">JavaScript</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/RiotTela" target='_blank'
                              class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100 card-mundoroxo" id="empat">
                        <img src="../static/imgs/Fotos dos Projetos/MundoRoxo.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Mundo Roxo</h5>
                          <p class="card-text">Projeto em Desenvolvimento</p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/WorldX" target='_blank'
                              class="btn btn-outline-dark me-3 magic-link"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/pokedex.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Pokedéx</h5>
                          <p class="card-text">In Progress</p>
                          <div class="d-flex justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item" data-bs-interval="200000">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Clima1.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Explore as Condições Climáticas Mundiais</h5>
                          <p class="card-text">Este projeto permite visualizar os elementos climáticos de um bairro, cidade ou estado
                            de qualquer país.
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Clima" target='_blank' class="btn btn-outline-dark me-3 mt-1"><i
                                class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/pedido1.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title"> O Botão Fugitivo</h5>
                          <p class="card-text">Este projeto JavaScript apresenta um botão "não" que foge quando clicado, adicionando um
                            elemento lúdico e interativo à interação do usuário.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/PedidoDeNamoro" target='_blank' class="btn btn-outline-dark me-3 mt-1"><i
                                class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/WizardIcon.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body ">
                          <h5 class="card-title">Localizador Fácil de Estações de Carregamento de Veículos Elétricos</h5>
                          <p class="card-text">Um próximo aplicativo <span class="badge bg-primary">React Native</span> para localizar
                            estações de carregamento de veículos elétricos. Em breve, facilitando sua vida e contribuindo para um futuro
                            mais sustentável!</p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Wizard-Station" target='_blank' class="btn btn-outline-dark me-3"><i
                                class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Escolar.png" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Sistema Acadêmico</h5>
                          <p class="card-text">Projeto voltado para a criação de um sistema de gestão escolar. Tecnologias utilizadas:
                            <span class="badge bg-dark">C#</span> e <span class="badge bg-success">MySQL</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/SistemaAcademico" target='_blank' class="btn btn-outline-dark me-3 mt-1"><i
                                class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/Screenshot_1.png"
                          class="card-img-top img-fluid w-100" alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Calculadora de IMC</h5>
                          <p class="card-text">Este projeto permite você avaliar o grau de sobrepeso e obesidade.
                            Tecnologias utilizadas: <span class="badge bg-warning">JavaScript</span>, <span
                              class="badge bg-primary">HTML5</span>, <span class="badge bg-info">CSS3</span>.
                          </p>
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Projeto-Calculadora-IMC" target='_blank'
                              class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/imgs/Fotos dos Projetos/spotify.blog_.jpg" class="card-img-top img-fluid w-100"
                          alt="print do blog">
                        <div class="card-body">
                          <h5 class="card-title">Clone do Spotify</h5>
                          <p class="card-text">Estou desenvolvendo um clone do Spotify usando o framework <span
                              class="badge bg-danger">Angular</span> e <span class="badge bg-secondary">SCSS</span> para o
                            desenvolvimento web.
                          <div class="d-flex justify-content-center">
                            <a href="https://github.com/Brolly26/Spotify" target='_blank' class="btn btn-outline-dark me-3 mt-1"><i
                                class="bi bi-github"></i></a>
                          </div>
                          </p>
                        </div>
                      </div>
                    </div>
              

                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </section>
        

        <!-- Bootstrap JS and Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>


        <section class="pt-5 pb-5" id="contato">

          <div class="container mb-5">
            <h2 class="pt-3 pb-3">Contato</h2>
            <div class="row">


              <div class="col-md-5">
                <div class="card p-5 shadow border-0">
                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização </h4>
                    <p>Contagem, MG</p>

                  </div>

                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email</h4>
                    <p>bielaugusto8@hotmail.com</p>
                  </div>

                  <div class="telefone">
                    <h4><i class="bi bi-phone-vibrate"></i> Telefo</h4>
                    <p>+55(31)9 9423-2364</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30021.48699896956!2d-44.04596636515233!3d-19.853239981529615!2m3!
  1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
  1s0xa693d067914e35%3A0xfb4cd13cf3ab1e07!2sPedra%20Azul%2C%
  20Contagem%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1665092579982!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="w-100"></iframe>

                </div>
              </div>


              <div class="col-md-7">
                <div class="card p-5 h-100 shadow border-0">
                  <form class="row g-3">
                    <div class="col-md-6">
                      <label for="nome" class="form-label">Nome</label>
                      <input type="text" class="form-control" id="inputEmail4" name="nome"
                        placeholder="Digite seu Nome">
                    </div>


                    <div class="col-md-6">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Digite seu E-mail">
                    </div>


                    <div class="col-12">
                      <label for="mensagem" class="form-label">Mensagem: </label>
                      <textarea type="text" class="form-control" rows="16" id="mensagem" name="mensagem"
                        placeholder="Digite sua mensagem">
        </textarea>

                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                      <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                    </div>
                  </form>


                </div>

              </div>

            </div>
          </div>

        </section>


      </div>


    </div>


  </main>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/bootstrap/js/boot"></script>
  <script src="../static/script.js"></script>
</body>

</html>